rules_version = '2';
service cloud.firestore.rules {
  match /databases/(default)/documents {
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
