@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fafaf8;
    font-family: system-ui, sans-serif;
  }
}

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
